openapi: 3.0.0
info:
  title: CAR4GE API
  description: The unified database API for garage systems worldwide
  version: 1.0.0
  contact:
    name: CAR4GE Support
    url: https://car4ge.com/support
    email: support@car4ge.com
  license:
    name: MIT

servers:
  - url: https://api.car4ge.com/v1
    description: Production API
  - url: http://localhost:3000/v1
    description: Development API

tags:
  - name: Vehicles
    description: Vehicle management endpoints
  - name: Maintenance
    description: Maintenance records and service tracking
  - name: Garages
    description: Garage and facility management
  - name: Authentication
    description: Auth and API key management

paths:
  /auth/api-key:
    post:
      tags:
        - Authentication
      summary: Generate API Key
      description: Create a new API key for your account
      operationId: generateApiKey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: "My App Integration"
                permissions:
                  type: array
                  items:
                    type: string
                    enum: [read, write, delete]
              required:
                - name
      responses:
        '201':
          description: API key created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  key:
                    type: string
                  name:
                    type: string
                  permissions:
                    type: array
                    items:
                      type: string
                  created_at:
                    type: string
                    format: date-time
        '400':
          description: Invalid request
        '401':
          description: Unauthorized

  /vehicles:
    get:
      tags:
        - Vehicles
      summary: List all vehicles
      description: Retrieve all vehicles associated with your garages
      operationId: listVehicles
      parameters:
        - name: garage_id
          in: query
          schema:
            type: string
          description: Filter by garage ID
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
          description: Maximum number of results
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
          description: Pagination offset
      responses:
        '200':
          description: List of vehicles
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Vehicle'
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
        '401':
          description: Unauthorized

    post:
      tags:
        - Vehicles
      summary: Create a vehicle
      description: Add a new vehicle to your garage
      operationId: createVehicle
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VehicleInput'
      responses:
        '201':
          description: Vehicle created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vehicle'
        '400':
          description: Invalid input
        '401':
          description: Unauthorized

  /vehicles/{id}:
    get:
      tags:
        - Vehicles
      summary: Get vehicle details
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Vehicle details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vehicle'
        '404':
          description: Vehicle not found

    put:
      tags:
        - Vehicles
      summary: Update vehicle
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VehicleInput'
      responses:
        '200':
          description: Vehicle updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vehicle'
        '404':
          description: Vehicle not found

    delete:
      tags:
        - Vehicles
      summary: Delete vehicle
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Vehicle deleted
        '404':
          description: Vehicle not found

  /maintenance:
    get:
      tags:
        - Maintenance
      summary: List maintenance records
      parameters:
        - name: vehicle_id
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, in_progress, completed, cancelled]
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: List of maintenance records
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MaintenanceRecord'
                  total:
                    type: integer

    post:
      tags:
        - Maintenance
      summary: Create maintenance record
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MaintenanceInput'
      responses:
        '201':
          description: Maintenance record created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintenanceRecord'

  /maintenance/{id}:
    get:
      tags:
        - Maintenance
      summary: Get maintenance record
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Maintenance record details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintenanceRecord'

    put:
      tags:
        - Maintenance
      summary: Update maintenance record
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MaintenanceInput'
      responses:
        '200':
          description: Maintenance record updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintenanceRecord'

  /garages:
    get:
      tags:
        - Garages
      summary: List your garages
      responses:
        '200':
          description: List of garages
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Garage'

    post:
      tags:
        - Garages
      summary: Create a garage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GarageInput'
      responses:
        '201':
          description: Garage created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Garage'

  /garages/{id}:
    get:
      tags:
        - Garages
      summary: Get garage details
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Garage details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Garage'

    put:
      tags:
        - Garages
      summary: Update garage
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GarageInput'
      responses:
        '200':
          description: Garage updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Garage'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: "API Key in format: Bearer YOUR_API_KEY"

  schemas:
    Vehicle:
      type: object
      properties:
        id:
          type: string
        garage_id:
          type: string
        make:
          type: string
          example: "Toyota"
        model:
          type: string
          example: "Camry"
        year:
          type: integer
          example: 2020
        license_plate:
          type: string
          example: "ABC123"
        vin:
          type: string
        mileage:
          type: number
        last_service_date:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    VehicleInput:
      type: object
      required:
        - garage_id
        - make
        - model
        - year
        - license_plate
      properties:
        garage_id:
          type: string
        make:
          type: string
        model:
          type: string
        year:
          type: integer
        license_plate:
          type: string
        vin:
          type: string
        mileage:
          type: number

    MaintenanceRecord:
      type: object
      properties:
        id:
          type: string
        vehicle_id:
          type: string
        garage_id:
          type: string
        service_type:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [pending, in_progress, completed, cancelled]
        service_date:
          type: string
          format: date-time
        cost:
          type: number
        notes:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    MaintenanceInput:
      type: object
      required:
        - vehicle_id
        - garage_id
        - service_type
        - service_date
      properties:
        vehicle_id:
          type: string
        garage_id:
          type: string
        service_type:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [pending, in_progress, completed, cancelled]
          default: pending
        service_date:
          type: string
          format: date-time
        cost:
          type: number
        notes:
          type: string

    Garage:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        location:
          type: string
        phone:
          type: string
        email:
          type: string
        owner_id:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    GarageInput:
      type: object
      required:
        - name
        - location
      properties:
        name:
          type: string
        location:
          type: string
        phone:
          type: string
        email:
          type: string

security:
  - ApiKeyAuth: []
